@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica,'Noto Sans TC', '思源黑體', Arial, sans-serif;
}

h2 {
  font-weight: normal;
}

a, a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.contact {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 50px;
  background: #ff7070;
  border-radius: 99rem;
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 20;
}

.contact:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 769px) {
  .contact {
    right: 20px;
    bottom: 25px;
  }
}

@media (max-width: 620px) {
  .contact {
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    bottom: 8px;
    right: 10px;
  }
}

#goTop {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 100px;
  right: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 50px;
  background: #cf9f42;
  border-radius: 99rem;
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 20;
}

#goTop:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 769px) {
  #goTop {
    right: 20px;
    bottom: 95px;
  }
}

@media (max-width: 620px) {
  #goTop {
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    bottom: 58px;
    right: 10px;
  }
}

.scroll-tag a {
  position: relative;
}

.scroll-tag a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 0px;
  left: 0px;
  bottom: 8px;
  border-bottom: 2px dotted #ffea2e;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scroll-tag a:hover::before {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scroll-tag li.on a::before {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-font {
  font-family: 'Yellowtail', cursive;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  color: #cf9f42;
  background: #fff;
  text-align: center;
  z-index: 15;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1400px) {
  nav {
    padding: 0 20px;
  }
}

@media (max-width: 426px) {
  nav {
    padding: 0px;
  }
}

nav .nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  padding: 10px 16px;
  margin: 0 auto;
}

nav .nav-logo {
  display: inline-block;
  font-size: 38px;
}

@media (max-width: 1024px) {
  nav .nav-logo {
    font-size: 36px;
  }
}

@media (max-width: 769px) {
  nav .nav-logo {
    font-size: 32px;
  }
}

@media (max-width: 426px) {
  nav .nav-logo {
    font-size: 24px;
  }
}

nav a.nav-back {
  position: relative;
  font-size: 18px;
  color: #cf9f42;
  line-height: 30px;
}

nav a.nav-back::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 0px;
  left: 0px;
  bottom: 2px;
  border-bottom: 2px dotted #ff7070;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav a.nav-back:hover::before {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 426px) {
  nav a.nav-back {
    font-size: 16px;
  }
}

@media (max-width: 426px) {
  nav a.nav-back {
    font-size: 14px;
  }
}

.sub-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 58px;
  left: 0px;
  background: #cf9f42;
  text-align: center;
  z-index: 18;
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .sub-nav {
    padding: 0 20px;
    top: 56px;
  }
}

@media (max-width: 769px) {
  .sub-nav {
    top: 52px;
    padding: 0 15px;
  }
}

@media (max-width: 426px) {
  .sub-nav {
    padding: 0 8px;
  }
}

@media (max-width: 426px) {
  .sub-nav {
    top: 50px;
    padding: 0;
  }
  .sub-nav span {
    display: none;
  }
}

.sub-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  vertical-align: middle;
}

.sub-nav ul li {
  display: inline-block;
  width: 20%;
  font-size: 20px;
  text-align: center;
  margin: 0 10px;
}

.sub-nav ul li a {
  display: inline-block;
  color: #fff5e6;
  letter-spacing: 1px;
  font-weight: 300;
  padding: 16px 10px;
}

@media (max-width: 1024px) {
  .sub-nav ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .sub-nav ul li {
    width: auto;
    font-size: 16px;
    margin: 0;
  }
  .sub-nav ul li a {
    padding: 12px;
  }
}

@media (max-width: 620px) {
  .sub-nav ul li {
    width: auto;
    font-size: 15px;
    margin: 0;
  }
  .sub-nav ul li a {
    padding: 12px 6px;
  }
}

@media (max-width: 426px) {
  .sub-nav ul li {
    font-size: 14px;
  }
  .sub-nav ul li a {
    padding: 12px 2px;
  }
}

@media (max-width: 426px) {
  .sub-nav ul li {
    font-size: 12px;
  }
  .sub-nav ul li a {
    padding: 12px  0px;
  }
}

header {
  text-align: center;
  padding: 60px 0;
  background: #fff5ed;
}

header h1 {
  font-size: 100px;
  font-weight: normal;
  color: #cf9f42;
}

header .h1-img {
  display: inline-block;
}

header .h1-img img {
  width: 100%;
}

@media (max-width: 1024px) {
  header h1 {
    font-size: 90px;
  }
  header .h1-img {
    width: 14%;
  }
}

@media (max-width: 769px) {
  header h1 {
    font-size: 72px;
  }
}

@media (max-width: 620px) {
  header h1 {
    font-size: 64px;
  }
}

@media (max-width: 426px) {
  header h1 {
    font-size: 44px;
  }
}

main {
  text-align: center;
}

main section {
  padding: 30px 0;
}

main section > * {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  main section {
    padding: 30px 40px;
  }
}

@media (max-width: 620px) {
  main section {
    padding: 25px 20px;
  }
}

@media (max-width: 426px) {
  main section {
    padding: 30px 10px;
  }
}

.banner p.note {
  max-width: 1200px;
  text-align: left;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.9px;
  color: #626262;
  padding: 16px 0;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .banner p.note {
    padding: 16px 40px;
  }
}

@media (max-width: 620px) {
  .banner p.note {
    padding: 16px 0px 0 20px;
    font-size: 14px;
  }
}

.banner main h2 {
  text-align: left;
  color: #cf9f42;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
}

@media (max-width: 769px) {
  .banner main h2 {
    font-size: 20px;
  }
}

@media (max-width: 426px) {
  .banner main h2 {
    font-size: 18px;
  }
}

.banner main .banner-container {
  padding: 24px 0px 12px 0;
}

@media (max-width: 620px) {
  .banner main .banner-container {
    padding: 24px 0 0 0;
  }
}

@media (max-width: 426px) {
  .banner main .banner-container {
    padding: 10px 0 0 0;
  }
}

.banner main .banner-container .img-container li {
  padding: 0 5px;
}

.banner main .banner-container img {
  width: 100%;
}

.banner main .banner-container .portfolio-banner-4 img {
  width: auto;
  height: 100%;
}

.banner main .banner-container .portfolio-banner-4 img {
  height: 200px;
}

.banner main .banner-more-wrap {
  text-align: right;
}

@media (max-width: 620px) {
  .banner main .banner-more-wrap {
    margin-top: 16px;
  }
}

@media (max-width: 426px) {
  .banner main .banner-more-wrap {
    text-align: center;
  }
}

.banner main .banner-more-wrap a.banner-more-btn {
  display: inline-block;
  font-size: 18px;
  color: #ff7070;
  padding: 8px 16px;
  border: 2px #ff7070 solid;
  border-radius: 99rem;
}

@media (max-width: 426px) {
  .banner main .banner-more-wrap a.banner-more-btn {
    font-size: 15px;
    padding: 4px 12px;
  }
}

.banner main .banner-more-wrap a.banner-more-btn:hover {
  color: #fff;
  background: #ff7070;
}

.slick-prev:before, .slick-next:before, .slick-prev:before, .slick-next:before {
  color: #ff7070;
}

@media (max-width: 620px) {
  .slick-prev:before, .slick-next:before, .slick-prev:before, .slick-next:before {
    color: white;
  }
}

@media (max-width: 1200px) {
  ul.slick-dots li button::before {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media (max-width: 1200px) {
  .banner main .banner-container .img-container .slick-dots li {
    margin: 0px;
  }
}

button.slick-next {
  right: 12px;
}

button.slick-prev {
  left: 12px;
  z-index: 5;
}

@media (max-width: 620px) {
  main section:nth-of-type(1) .banner-container .img-container li {
    overflow: hidden;
  }
}

@media (max-width: 620px) {
  main section:nth-of-type(1) .banner-container .img-container img {
    -webkit-transform: scale(1.5) translateY(30px);
            transform: scale(1.5) translateY(30px);
  }
}

@media (max-width: 426px) {
  main section:nth-of-type(1) .banner-container .img-container img {
    -webkit-transform: scale(1.5) translateY(21px);
            transform: scale(1.5) translateY(21px);
  }
}

@media (max-width: 1200px) {
  .web header .h1-img {
    width: 20%;
  }
}

.web .h2-wrap {
  text-align: center;
  color: #fff;
  background: #ff7070;
  padding: 32px 0;
}

.web .h2-wrap p br {
  display: none;
}

@media (max-width: 1200px) {
  .web .h2-wrap {
    margin: 0 20px;
  }
}

@media (max-width: 769px) {
  .web .h2-wrap {
    padding: 20px;
  }
  .web .h2-wrap p br {
    display: block;
  }
}

@media (max-width: 426px) {
  .web .h2-wrap {
    padding: 12px;
  }
  .web .h2-wrap p br {
    display: none;
  }
}

.web h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 16px;
}

@media (max-width: 769px) {
  .web h2 {
    font-size: 24px;
  }
}

@media (max-width: 426px) {
  .web h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.web .h2-detail {
  max-width: 1200px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  font-weight: 300;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .web .h2-detail {
    font-size: 15px;
  }
}

.web main {
  padding: 30px 0;
}

.web section {
  padding: 20px 0;
}

.web .web-single {
  position: relative;
  max-width: 1200px;
  padding: 32px 0;
  margin: 40px auto 0 auto;
  border-bottom: 2px solid #fff5ed;
}

@media (max-width: 1200px) {
  .web .web-single {
    padding: 32px 20px;
  }
}

.web .web-single h3 {
  font-size: 26px;
  font-weight: 500;
  color: #cf9f42;
}

@media (max-width: 426px) {
  .web .web-single h3 {
    font-size: 22px;
  }
}

.web .web-single p {
  font-size: 16px;
  color: #cf9f42;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.9px;
  margin: 12px 0;
}

@media (max-width: 426px) {
  .web .web-single p {
    font-size: 14px;
  }
}

.web .web-single .web-number {
  position: absolute;
  top: 0px;
  left: 15px;
  font-size: 130px;
  color: #fff5ed;
  z-index: -1;
}

@media (max-width: 426px) {
  .web .web-single .web-number {
    font-size: 70px;
  }
}

.web .web-single .web-container {
  position: relative;
  max-width: 1200px;
  height: 400px;
  overflow: hidden;
  border: #e6e6e6 solid 1px;
  border-radius: 10px;
  margin: 30px 0;
  -webkit-transition: 5s;
  transition: 5s;
}

@media (max-width: 426px) {
  .web .web-single .web-container {
    height: 200px;
  }
}

.web .web-single .web-container img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  -webkit-transition: 3s ease-out;
  transition: 3s ease-out;
}

.web .web-single .web-container img:hover {
  top: -800px;
  bottom: 0px;
  -webkit-transition: 5s ease-in;
  transition: 5s ease-in;
}

@media (max-width: 426px) {
  .web .web-single .web-container img:hover {
    height: -380px;
  }
}

.web .web-single .more-wrap {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  z-index: 5;
  padding: 16px 0;
}

.web .web-single .more-wrap a {
  display: inline-block;
  width: 180px;
  font-size: 16px;
  line-height: 2;
  color: #cf9f42;
  border: 2px #cf9f42 solid;
  border-radius: 99rem;
  background: rgba(255, 255, 255, 0.5);
}

.web .web-single .more-wrap a:hover {
  background: #cf9f42;
  color: #fff;
}

.web .web-single.even .web-number {
  left: auto;
  right: 15px;
}

footer {
  background: #ff7070;
}

@media (max-width: 1200px) {
  footer {
    padding: 0 20px;
  }
}

@media (max-width: 426px) {
  footer {
    padding: 0 8px;
  }
}

@media (max-width: 426px) {
  footer {
    padding: 0px;
  }
}

footer .footer-wrap {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 16px;
  margin: 0 auto;
}

@media (max-width: 426px) {
  footer .footer-wrap {
    padding: 10px 0;
  }
}

footer h2.footer-h2 {
  color: #fff;
  font-size: 48px;
}

@media (max-width: 769px) {
  footer h2.footer-h2 {
    font-size: 36px;
  }
}

@media (max-width: 620px) {
  footer h2.footer-h2 {
    display: none;
  }
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 620px) {
  footer ul {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 426px) {
  footer ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

footer ul li {
  display: inline-block;
  text-align: center;
  margin: 0 8px;
}

@media (max-width: 769px) {
  footer ul li {
    margin: 0px 4px 0 0;
  }
}

@media (max-width: 426px) {
  footer ul li {
    margin: 0 0 10px 0;
  }
}

footer ul li a {
  display: inline-block;
  color: #fff5ed;
  font-size: 18px;
  padding: 10px;
}

@media (max-width: 769px) {
  footer ul li a {
    font-size: 15px;
  }
}

@media (max-width: 426px) {
  footer ul li a {
    font-size: 14px;
  }
}

@media (max-width: 426px) {
  footer ul li a {
    width: 80px;
  }
}

footer ul li a.out-link {
  border-radius: 99rem;
  padding: 6px 12px;
  border: #fff5ed solid 2px;
}

@media (max-width: 426px) {
  footer ul li a.out-link {
    padding: 4px 6px;
  }
}

@media (max-width: 426px) {
  footer ul li a.out-link {
    width: 100px;
  }
}

footer ul li a.out-link:hover {
  color: #ff7070;
  background: #fff5ed;
}

.yellow-bg {
  background: #fff5ed;
}
/*# sourceMappingURL=portfolio-style.css.map */