@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica,'Noto Sans TC', '思源黑體', Arial, sans-serif;
}

h1, h1 span, h2 {
  font-weight: normal;
}

a, a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.contact {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 50px;
  background: #ff7070;
  border-radius: 99rem;
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 20;
}

.contact:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .contact {
    right: 20px;
    bottom: 25px;
  }
}

@media (max-width: 620px) {
  .contact {
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    bottom: 8px;
    right: 10px;
  }
}

#goTop {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 100px;
  right: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 50px;
  background: #cf9f42;
  border-radius: 99rem;
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 20;
}

#goTop:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  #goTop {
    right: 20px;
    bottom: 95px;
  }
}

@media (max-width: 620px) {
  #goTop {
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    bottom: 58px;
    right: 10px;
  }
}

.main-font {
  font-family: 'Yellowtail', cursive;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  color: #cf9f42;
  background: #fff;
  text-align: center;
  z-index: 20;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1400px) {
  nav {
    padding: 0 20px;
  }
}

@media (max-width: 620px) {
  nav {
    padding: 0;
  }
}

nav .nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  padding: 10px 10px;
  margin: 0 auto;
}

nav .nav-logo {
  display: inline-block;
  font-size: 38px;
}

@media (max-width: 1024px) {
  nav .nav-logo {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  nav .nav-logo {
    font-size: 32px;
  }
}

nav .mobile-menu {
  display: none;
  width: 36px;
  height: 36px;
}

@media (max-width: 620px) {
  nav .mobile-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav .mobile-menu .stripe {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 5px;
  background: #cf9f42;
}

nav .mobile-menu .stripe::before, nav .mobile-menu .stripe::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  background: #cf9f42;
}

nav .mobile-menu .stripe::before {
  top: 12px;
}

nav .mobile-menu .stripe::after {
  bottom: 12px;
}

nav .mobile-menu .stripe.on {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .mobile-menu .stripe.on::before, nav .mobile-menu .stripe.on::after {
  top: 0px;
  bottom: auto;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 426px) {
  nav .mobile-menu .stripe {
    height: 4px;
  }
  nav .mobile-menu .stripe::before {
    top: 8px;
  }
  nav .mobile-menu .stripe::after {
    bottom: 8px;
  }
}

@media (max-width: 426px) {
  nav .mobile-menu {
    width: 32px;
    height: 32px;
  }
}

nav .nav-menu-wrap {
  display: inline-block;
}

@media (max-width: 620px) {
  nav .nav-menu-wrap {
    position: absolute;
    display: none;
    top: 100%;
    right: 0px;
    background: rgba(255, 255, 255, 0.8);
    overflow-y: hidden;
  }
}

nav ul {
  display: inline-block;
  vertical-align: middle;
}

nav ul li {
  display: inline-block;
  margin: 0 4px;
}

@media (max-width: 620px) {
  nav ul li {
    display: block;
    padding: 8px 0;
  }
}

nav ul li a {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.2px;
  padding: 10px 12px;
}

@media (max-width: 1024px) {
  nav ul li a {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 620px) {
  nav ul li a {
    display: block;
  }
}

nav .social {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 768px) {
  nav .social {
    display: none;
  }
}

nav .social a {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: #cf9f42;
  border-radius: 99rem;
  margin: 0 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .social a:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scroll-tag a {
  position: relative;
}

.scroll-tag a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 0px;
  left: 7%;
  bottom: 4px;
  border-bottom: 2px dotted #cf9f42;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scroll-tag a:hover::before {
  width: 86%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scroll-tag li.on a::before {
  width: 86%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main {
  text-align: center;
}

header {
  position: relative;
  height: 458px;
  background: url("../images/index-header.png") top center no-repeat;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  header {
    height: 300px;
  }
}

@media (max-width: 426px) {
  header {
    height: 260px;
  }
}

header .header-wrap {
  max-width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  margin: 0 auto;
}

header h1.header-title {
  width: 50%;
  font-size: 86px;
  color: #fff;
  text-align: left;
}

header h1.header-title span {
  font-size: 56px;
}

@media (max-width: 1200px) {
  header h1.header-title {
    width: auto;
    margin-right: 5%;
    font-size: 76px;
  }
}

@media (max-width: 768px) {
  header h1.header-title {
    font-size: 60px;
    text-align: center;
    margin-right: 0;
    margin-bottom: 30px;
  }
  header h1.header-title span {
    font-size: 42px;
  }
}

@media (max-width: 426px) {
  header h1.header-title {
    font-size: 50px;
  }
  header h1.header-title span {
    font-size: 40px;
  }
}

@media (max-width: 426px) {
  header h1.header-title {
    font-size: 42px;
  }
  header h1.header-title span {
    font-size: 32px;
  }
}

header .header-photo {
  width: 25%;
  overflow: hidden;
}

header .header-photo img {
  border: #fff solid 8px;
  border-radius: 99rem;
  width: 100%;
}

@media (max-width: 768px) {
  header .header-photo {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -100px;
    left: calc(50% - 100px);
  }
}

@media (max-width: 426px) {
  header .header-photo img {
    border-width: 6px;
  }
}

header::before, header::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #fff #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: calc(50% - 4px);
}

@media (max-width: 768px) {
  header::before, header::after {
    content: none;
  }
}

header::before {
  bottom: 25px;
  -webkit-animation: 'arrows' 2s infinite;
          animation: 'arrows' 2s infinite;
}

header::after {
  opacity: 0;
  bottom: 50px;
  -webkit-animation: 'arrows' 2s infinite 1s;
          animation: 'arrows' 2s infinite 1s;
}

@-webkit-keyframes arrows {
  0% {
    bottom: 50px;
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 25px;
  }
}

@keyframes arrows {
  0% {
    bottom: 50px;
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 25px;
  }
}

section.about {
  max-width: 1200px;
  text-align: center;
  padding: 80px 0 30px 0;
  margin: 0 auto;
}

section.about h2 {
  font-size: 80px;
  color: #cf9f42;
  margin-bottom: 32px;
}

section.about p {
  font-size: 20px;
  color: #626262;
  letter-spacing: 1px;
  line-height: 1.8;
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  section.about p {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  section.about {
    padding: 50px 0 30px 0;
  }
  section.about h2 {
    font-size: 66px;
  }
  section.about p {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  section.about {
    margin-top: 70px;
  }
  section.about h2 {
    font-size: 60px;
    margin-bottom: 24px;
  }
  section.about p {
    font-size: 15px;
    margin-bottom: 24px;
  }
}

@media (max-width: 426px) {
  section.about {
    padding: 50px 16px 30px 16px;
  }
  section.about h2 {
    font-size: 54px;
  }
  section.about p br {
    display: none;
  }
}

@media (max-width: 426px) {
  section.about {
    padding: 50px 10px 30px 10px;
  }
  section.about h2 {
    font-size: 48px;
  }
  section.about p {
    font-size: 14px;
  }
}

section.exp {
  max-width: 1200px;
  margin: 0 auto;
  border: #ff7070 solid 4px;
}

section.exp h2 {
  display: block;
  text-align: left;
  color: #fff;
  font-size: 54px;
  line-height: 60px;
  background: #ff7070;
  padding-left: 10px;
}

section.exp .job-exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff5ed;
  padding: 16px 100px;
}

@media (max-width: 1024px) {
  section.exp .job-exp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 16px;
  }
}

section.exp .single {
  display: inline-block;
  width: 35%;
  padding: 10px;
  text-align: left;
}

section.exp .single:nth-child(2) {
  width: 30%;
}

@media (max-width: 1024px) {
  section.exp .single {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  section.exp .single:nth-child(2) {
    width: 100%;
  }
}

@media (max-width: 620px) {
  section.exp .single {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 426px) {
  section.exp .single {
    padding: 0;
    margin-bottom: 16px;
  }
}

section.exp .single .name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #cf9f42;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 19px;
  padding-bottom: 16px;
}

section.exp .single .name .date {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  margin-right: 12px;
}

section.exp .single .name .date span {
  font-size: 12px;
}

section.exp .single .name .title {
  display: inline-block;
  text-align: left;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
}

section.exp .single .name .title span {
  font-size: 18px;
}

@media (max-width: 1024px) {
  section.exp .single .name {
    width: 340px;
  }
}

@media (max-width: 620px) {
  section.exp .single .name {
    width: 100%;
  }
}

@media (max-width: 426px) {
  section.exp .single .name .title {
    font-size: 18px;
    line-height: 1.5;
  }
  section.exp .single .name .date {
    font-size: 16px;
  }
}

section.exp .single .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.exp .single .detail .icon {
  position: relative;
  display: inline-block;
  width: 12px;
  margin-right: 8px;
}

section.exp .single .detail .icon::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  border-radius: 99rem;
  background: #ff7070;
}

section.exp .single .detail .icon::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 5.5px;
  width: 1px;
  height: 100%;
  background: #ff7070;
}

section.exp .single .detail .text-wrap {
  width: 100%;
  text-align: left;
  padding-top: 10px;
  height: 76px;
}

section.exp .single .detail .text-wrap li {
  display: inline-block;
  width: 45%;
  color: #ff7070;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 4px;
}

@media (max-width: 1024px) {
  section.exp .single .detail .text-wrap li {
    width: 140px;
  }
}

@media (max-width: 426px) {
  section.exp .single .detail .text-wrap {
    height: 123px;
  }
}

@media (max-width: 1024px) {
  section.exp .single .detail {
    width: 50%;
  }
}

@media (max-width: 620px) {
  section.exp .single .detail {
    width: 100%;
  }
}

section.exp .learn-exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 100px;
}

@media (max-width: 768px) {
  section.exp .learn-exp {
    padding: 10px 20px 20px 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
  }
}

section.exp .learn-exp .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media (max-width: 768px) {
  section.exp .learn-exp .wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
  }
}

section.exp .learn-exp .wrap .title {
  width: 50px;
  color: #ff7070;
  font-size: 20px;
  line-height: 1.1;
  font-weight: 500;
}

@media (max-width: 768px) {
  section.exp .learn-exp .wrap .title {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  section.exp .learn-exp .wrap .title br {
    display: none;
  }
}

section.exp .learn-exp .wrap .status {
  display: inline-block;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #ff7070;
}

@media (max-width: 768px) {
  section.exp .learn-exp .wrap .status {
    display: block;
    width: 60px;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    color: #fff5ed;
    letter-spacing: 1.5px;
    padding: 4px 6px;
    border-radius: 99rem;
    background: #ff7070;
  }
}

section.exp .learn-exp .wrap ul {
  display: inline-block;
  width: 80%;
  text-align: left;
  margin-left: 16px;
}

@media (max-width: 768px) {
  section.exp .learn-exp .wrap ul {
    text-align: left;
    width: 100%;
    margin-left: 0px;
    margin-top: 6px;
  }
}

section.exp .learn-exp .wrap li {
  display: inline-block;
  padding: 4px;
  color: #626262;
}

.skill {
  background: #fff5ed;
  margin-top: 120px;
}

@media (max-width: 768px) {
  .skill {
    margin-top: 80px;
  }
}

.skill .wrap {
  max-width: 1200px;
  padding: 40px 0;
  margin: 0 auto;
}

.skill .wrap h2 {
  font-size: 110px;
  text-align: left;
  color: #cf9f42;
  margin-top: -100px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .skill .wrap h2 {
    font-size: 80px;
    margin-bottom: 0;
    margin-top: -82px;
  }
}

@media (max-width: 426px) {
  .skill .wrap h2 {
    font-size: 60px;
  }
}

@media (max-width: 426px) {
  .skill .wrap .content {
    padding-top: 20px;
  }
}

.skill .wrap .content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 2px solid #cf9f42;
  padding-top: 24px;
  padding-bottom: 16px;
}

.skill .wrap .content .row:last-child {
  border-bottom: none;
}

@media (max-width: 426px) {
  .skill .wrap .content .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.skill .wrap .content .row .single {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 33.33%;
}

@media (max-width: 768px) {
  .skill .wrap .content .row .single {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 426px) {
  .skill .wrap .content .row .single {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}

.skill .wrap .content .row .single:hover {
  -webkit-animation: jump 0.5s;
          animation: jump 0.5s;
}

.skill .wrap .content .row .single .img {
  display: inline-block;
  width: 55%;
}

.skill .wrap .content .row .single .img img {
  width: 100%;
}

@media (max-width: 1024px) {
  .skill .wrap .content .row .single .img {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .skill .wrap .content .row .single .img {
    width: 70%;
  }
}

@media (max-width: 426px) {
  .skill .wrap .content .row .single .img {
    width: 30%;
  }
}

.skill .wrap .content .row .single .detail {
  display: inline-block;
  width: 80%;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .skill .wrap .content .row .single .detail {
    width: 100%;
    text-align: center;
    padding: 0 0 10px 0;
  }
}

@media (max-width: 426px) {
  .skill .wrap .content .row .single .detail {
    width: 70%;
    text-align: left;
  }
}

.skill .wrap .content .row .single .title {
  color: #cf9f42;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
}

@media (max-width: 426px) {
  .skill .wrap .content .row .single .title {
    font-weight: 600;
    margin-left: 8px;
  }
}

.skill .wrap .content .row .single ul {
  display: inline-block;
}

.skill .wrap .content .row .single li {
  display: block;
  padding: 4px;
  color: #626262;
  font-size: 15px;
}

@media (max-width: 1024px) {
  .skill .wrap .content .row .single li {
    font-size: 14px;
  }
}

@media (max-width: 426px) {
  .skill .wrap .content .row .single li {
    display: inline-block;
  }
}

@media (max-width: 1200px) {
  .skill {
    padding: 0 20px;
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  35% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  65% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  85% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  35% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  65% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  85% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.portfolio .single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .portfolio .single {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: #fff solid 1px;
  }
}

.portfolio .single a.img {
  position: relative;
  display: inline-block;
  width: 50%;
  background: #000;
  overflow: hidden;
}

@media (max-width: 768px) {
  .portfolio .single a.img {
    width: 100%;
  }
}

.portfolio .single a.img .filter {
  overflow: hidden;
  -webkit-transition: 2s;
  transition: 2s;
}

.portfolio .single a.img .filter img {
  width: 100%;
}

@media (max-width: 1200px) {
  .portfolio .single a.img .filter img {
    width: auto;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .portfolio .single a.img .filter {
    height: 250px;
  }
  .portfolio .single a.img .filter img {
    width: 100%;
  }
}

@media (max-width: 426px) {
  .portfolio .single a.img .filter {
    height: 180px;
  }
  .portfolio .single a.img .filter img {
    height: 100%;
  }
}

.portfolio .single a.img:hover .filter {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 2s;
  transition: 2s;
}

.portfolio .single .content {
  display: inline-block;
  width: 50%;
  max-width: 600px;
  padding: 0 0 0 40px;
  pointer-events: none;
}

@media (max-width: 1200px) {
  .portfolio .single .content {
    padding-left: 50px;
  }
}

@media (max-width: 768px) {
  .portfolio .single .content {
    position: absolute;
  }
}

@media (max-width: 426px) {
  .portfolio .single .content {
    padding-left: 20px;
    width: 100%;
  }
}

.portfolio .single .content h3 {
  color: #cf9f42;
  font-size: 34px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .portfolio .single .content h3 {
    color: #fff;
  }
}

@media (max-width: 426px) {
  .portfolio .single .content h3 {
    font-size: 28px;
    font-weight: 500;
  }
}

.portfolio .single .content .note {
  font-size: 18px;
  color: #cf9f42;
  letter-spacing: 1px;
  margin: 8px 0;
}

@media (max-width: 768px) {
  .portfolio .single .content .note {
    color: #fff;
  }
}

@media (max-width: 426px) {
  .portfolio .single .content .note {
    font-size: 14px;
  }
}

.portfolio .single .content .line {
  font-size: 18px;
  color: #cf9f42;
  letter-spacing: 8px;
  font-weight: 200;
  margin: 12px 0;
}

@media (max-width: 768px) {
  .portfolio .single .content .line {
    display: none;
  }
}

.portfolio .single .content .detail {
  font-size: 16px;
  line-height: 1.5;
  color: #626262;
  font-weight: 300;
}

@media (max-width: 768px) {
  .portfolio .single .content .detail {
    display: none;
  }
}

.portfolio .arrow {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 60px;
  bottom: 95px;
  right: 35px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 99rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 426px) {
  .portfolio .arrow {
    width: 40px;
    height: 40px;
    bottom: 70px;
  }
}

.portfolio .arrow::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 60px;
  top: 0px;
  right: -20px;
  background: center center/contain no-repeat url("../images/arrow-left.png");
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .portfolio .arrow::before {
    background: center center/contain no-repeat url("../images/arrow-right.png");
    left: -20px;
    right: auto;
  }
}

@media (max-width: 426px) {
  .portfolio .arrow::before {
    width: 40px;
    height: 30px;
    left: -10px;
    top: 4px;
  }
}

.portfolio .other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 40px 0;
  text-align: center;
  background: #fff5ed;
}

.portfolio .other h3 {
  display: inline-block;
  font-size: 40px;
  font-weight: normal;
  color: #ff7070;
  margin-right: 50px;
}

.portfolio .other .arrow {
  position: relative;
  display: inline-block;
  bottom: auto;
  right: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .other .arrow::before {
  left: -20px;
  right: auto;
  background: center center/contain no-repeat url("../images/arrow-right.png");
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 426px) {
  .portfolio .other .arrow::before {
    left: -10px;
  }
}

.portfolio .single.even {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .portfolio .single.even {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.portfolio .single.even .arrow {
  right: auto;
  left: 35px;
}

@media (max-width: 768px) {
  .portfolio .single.even .arrow {
    left: auto;
    right: 35px;
  }
}

.portfolio .single.even .arrow::before {
  left: -20px;
  right: auto;
  background: center center/contain no-repeat url("../images/arrow-right.png");
}

@media (max-width: 426px) {
  .portfolio .single.even .arrow::before {
    left: -10px;
  }
}

.portfolio .single.even a:hover .arrow::before {
  top: 0px;
  left: 10px;
}

.portfolio a:hover .arrow::before {
  top: 0px;
  right: 10px;
}

.portfolio a.other:hover .arrow::before {
  top: 0px;
  left: 10px;
}

.future {
  background: -10px 40px/contain no-repeat url("../images/future-left.png"), right 80%/contain no-repeat url("../images/future-right.png");
  padding: 80px 0;
}

@media (max-width: 1200px) {
  .future {
    background: -66px 40px/contain no-repeat url(../images/future-left.png), 60px 80%/contain no-repeat url(../images/future-right.png);
  }
}

@media (max-width: 426px) {
  .future {
    padding: 60px 16px;
  }
}

.future h2 {
  font-size: 56px;
  color: #ff7070;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .future h2 {
    font-size: 48px;
    margin-bottom: 24px;
  }
}

.future p {
  font-size: 20px;
  color: #626262;
  line-height: 1.8;
}

@media (max-width: 1200px) {
  .future p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .future p {
    font-size: 15px;
  }
}

@media (max-width: 426px) {
  .future p br {
    display: none;
  }
}

footer {
  background: #ff7070;
}

@media (max-width: 1200px) {
  footer {
    padding: 0 20px;
  }
}

@media (max-width: 426px) {
  footer {
    padding: 0 8px;
  }
}

footer .footer-wrap {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
  margin: 0 auto;
}

@media (max-width: 426px) {
  footer .footer-wrap {
    padding: 10px 0;
  }
}

footer h2.footer-h2 {
  color: #fff;
  font-size: 48px;
}

@media (max-width: 768px) {
  footer h2.footer-h2 {
    font-size: 36px;
  }
}

@media (max-width: 620px) {
  footer h2.footer-h2 {
    display: none;
  }
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 620px) {
  footer ul {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer ul li {
  display: inline-block;
  text-align: center;
  margin: 0 8px;
}

@media (max-width: 768px) {
  footer ul li {
    margin: 0px 4px 0 0;
  }
}

@media (max-width: 426px) {
  footer ul li {
    margin: 0;
  }
}

footer ul li a {
  display: inline-block;
  color: #fff5ed;
  font-size: 18px;
  padding: 10px;
}

@media (max-width: 768px) {
  footer ul li a {
    font-size: 15px;
  }
}

@media (max-width: 426px) {
  footer ul li a {
    font-size: 14px;
  }
}

footer ul li a.out-link {
  border-radius: 99rem;
  padding: 6px 12px;
  border: #fff5ed solid 2px;
}

@media (max-width: 426px) {
  footer ul li a.out-link {
    padding: 4px 6px;
  }
}

footer ul li a.out-link:hover {
  color: #ff7070;
  background: #fff5ed;
}
/*# sourceMappingURL=style.css.map */