*{box-sizing: border-box; font-family: Helvetica,'Noto Sans TC', '思源黑體', Arial, sans-serif;}
h1,h1 span,h2{font-weight: normal;}
a,a:hover{transition: 0.3s; cursor:pointer;}
@mixin Lpc {
    @media (max-width:1400px){
        @content;
    }
}

@mixin Mpc{
    @media (max-width:1200px){
        @content;
    }
}

@mixin Spc{
    @media (max-width:1024px){
        @content;
    }
}

@mixin pad{
    @media (max-width:768px){
        @content;
    }
}
@mixin Spad{
    @media (max-width:620px){
        @content;
    }
}
@mixin mobile{
    @media (max-width:426px){
        @content;
    }
}

$primary-color:#cf9f42;
$secondary-color:#ff7070;
$background-color:#fff5ed;
$top-nav-bg-color:#fff;
$sub-nav-bg-color:#cf9f42;
$sub-nav-font-color:#fff5ed;
$color-grey:#626262;
$nav-padding-horizontal:10px;
//contact
.contact{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    background: $secondary-color;
    border-radius: 99rem;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    z-index: 20;
    &:hover{
        opacity: 1;
        transition: 0.3s;
    }
    @include pad{right: 20px; bottom:25px;}
    @include Spad{width: 44px; height: 44px; line-height: 44px; font-size: 15px; bottom: 8px; right: 10px;}
}
//goTop
#goTop{
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 100px;
    right: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    background: $primary-color;
    border-radius: 99rem;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    z-index: 20;
    &:hover{
        opacity: 1;
        transition: 0.3s;
    }
    @include pad{right: 20px; bottom: 95px;}
    @include Spad{width: 44px; height: 44px; line-height: 44px; font-size: 15px; bottom: 58px; right: 10px;}

}
//ordinary
.main-font{
    font-family: 'Yellowtail', cursive;
}

nav{
    position: sticky;
    top: 0px;
    color: $primary-color;
    background: $top-nav-bg-color;
    text-align: center;
    z-index: 20;
    box-shadow: 0px 4px 8px rgba($color: #000000, $alpha: 0.08);

    @include Lpc{
        padding: 0 20px;
    }
    @include Spad{

    }
    .nav-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width:1200px;
        padding:10px $nav-padding-horizontal;
        margin: 0 auto;

    }

    .nav-logo{
        display: inline-block;
        font-size: 38px;

        @include Spc{
            font-size: 36px;
        }
        @include pad{
            font-size: 32px;
        }
    }

    .mobile-menu{
        display: none;
        width: 36px;
        height: 36px;
        // background: center center / contain no-repeat url('../images/menu.png');
        @include Spad{
            display: inline-flex;
            align-items: center;
        }
        .stripe{
            display: inline-block;
            position: relative;
            width: 100%;
            height: 5px;
            background: $primary-color;
            &::before,&::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left:0px;
                background: $primary-color;
            }
            &::before{
                top: 12px;
                
            }
            &::after{
                bottom: 12px;
                
            }
            &.on{
             transform: rotate(45deg);
             &::before,&::after{
                top: 0px;
                bottom: auto;
                transform: rotate(-90deg);
             }
            }
            @include mobile{
                height: 4px;
                &::before{
                    top: 8px;
                    
                }
                &::after{
                    bottom: 8px;
                    
                }
            }
        }
        @include mobile{
            width: 32px;
            height: 32px;
        }
    }//mobile-menu

    .nav-menu-wrap{
        display: inline-block;
        @include Spad{
            position: absolute;
            display: none;
            top:100%;
            right: 0px;
            background: rgba(255, 255, 255, 0.8);
            overflow-y: hidden;
            
        }

    }

    ul{
        display: inline-block;
        vertical-align: middle;
        
        li{
            display: inline-block;
            margin: 0 4px;
            @include Spad{
                display: block;
                padding: 8px 0;
            }
            a{
                display: inline-block;
                font-size: 20px;
                font-weight: 300;
                letter-spacing: 1.2px;
                padding: 10px 12px;
                @include Spc{
                    font-size: 18px;
                }
                @include pad{
                    font-size: 16px;
                }
                @include Spad{
                    display: block;
                }
            }
        }
    }
    .social{
        display: inline-block;
        vertical-align: middle;
        @include pad{
            display: none;
        }   
        a{
            display: inline-block;
            width: 28px;
            height: 28px;
            background: $primary-color;
            border-radius: 99rem;
            margin: 0 4px;
            transition: 0.5s;
            &:hover{
                transform: rotate(360deg);
                transition: 0.5s;
            }
        }
    }

}//nav

.scroll-tag{
    a{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 0%;
            height: 0px;
            left: 7%;
            bottom: 4px;
            border-bottom: 2px dotted $primary-color;
            opacity: 0.7;
            transition: 0.3s;
        }
        &:hover::before{
            width: 86%;
            transition: 0.3s;
        }
    }
    li.on{
        a::before{
            width: 86%;
            transition: 0.3s;
        }
    }
}//scroll-tag

main{
    text-align: center;
}
//版頭
header{
    position: relative;
    height: 458px;
    background:url('../images/index-header.png')top center no-repeat;
    background-attachment: fixed;
    @include pad{
        height: 300px;
    }
    .header-wrap{
        max-width: 1200px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        margin: 0 auto;
    }
    h1.header-title{
        width: 50%;
        font-size: 86px;
        color: #fff;
        text-align: left;
        span{
            font-size: 56px;
        }

        @include Mpc{
            width: auto;
            margin-right: 5%;
            font-size: 76px;
        }
        @include pad{
            font-size: 60px;
            text-align: center;
            margin-right: 0;
            margin-bottom: 30px;
            span{
                font-size: 42px;
            }
        }
        @include mobile{
            font-size: 50px;
        }
    }
    .header-photo{
        width: 25%;       
        overflow: hidden;
        img{
            border: #fff solid 8px;
            border-radius: 99rem;
            width: 100%;
        }
        @include pad{
            width: 200px;
            height: 200px;
            position: absolute;
            bottom: -100px;
            left: calc(50% - 100px);
        }
    }
    &::before,&::after{
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent #fff #fff;
        transform: rotate(-45deg);
        left: calc(50% - 4px);
        @include pad{
            content:none;
        }
    }
    &::before{
        bottom: 25px;
        animation: 'arrows' 2s infinite;
    }
    &::after{
        opacity: 0;
        bottom: 50px;
        animation: 'arrows' 2s infinite 1s;
    }
    
}
@keyframes arrows {
    0%{
        bottom: 50px;
        opacity: 1;
    }
    100%{
        opacity: 0;
        bottom: 25px;
    }
}

//關於我
section.about{
    max-width: 1200px;
    text-align: center;
    padding: 80px 0 30px 0;
    margin: 0 auto;
    h2{
        font-size: 80px;
        color: $primary-color;
        margin-bottom: 32px;
    }
    p{
        font-size: 20px;
        color: $color-grey;
        letter-spacing: 1px;
        line-height: 1.8;
        margin-bottom: 40px;
    }
    @include Mpc{
        p{font-size: 18px;}
    }
    @include Spc{
        padding: 50px 0 30px 0;
        h2{
            font-size: 66px;
        }
        p{
            font-size: 17px;
        }
    }
    @include pad{
        margin-top: 70px;
        h2{
            font-size: 60px;    
            margin-bottom: 24px;
        }
        p{
            font-size: 15px;
            margin-bottom: 24px;
        }
    }
    @include mobile{
        padding: 50px 16px 30px 16px;
        p{
            br{display: none;}
        }
    }
}
//經歷
section.exp{
    max-width: 1200px;
    margin: 0 auto;
    border: $secondary-color solid 4px;

    h2{
        display: block;
        text-align: left;
        color: #fff;
        font-size: 54px;
        line-height: 60px;
        background: $secondary-color;
        padding-left: 10px;
    }
    .job-exp{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: $background-color;
        padding: 16px 100px;
        @include Spc{
            flex-wrap: wrap;
            padding: 16px;
        }
        
    }
    .single{
        display:inline-block;
        width: 35%;
        padding: 10px;
        text-align: left;
        &:nth-child(2){
            width: 30%;
        }
        @include Spc{
            display: flex;
            justify-content:center ;
            width: 100%;
            &:nth-child(2){
               width: 100%;
           }
        }
        
        @include Spad{
            flex-wrap: wrap;
        }
        .name{
            display: inline-flex;
            color: $primary-color;
            align-items: stretch;
            font-size: 19px;
            padding-bottom: 16px;
            .date{
                display: inline-block;
                text-align: center;
                font-size: 18px;
                line-height: 1;
                margin-right:12px;
                span{
                    font-size:12px;
                }
            }
            .title{
                display: inline-block;
                text-align: left;
                font-weight: 500;
                font-size: 22px;
                line-height: 1.3;
                span{
                    font-size:18px;
                }
            }
            @include Spc{
                width: 340px;
            }
            @include Spad{
                width: 100%;
            }
        }//name
        .detail{
            display: flex;
            .icon{
                position: relative;
                display: inline-block;
                width: 12px;
                margin-right: 8px;
                &::before{
                    position: absolute;
                    content: "";
                    top: 0px;
                    left: 0px;
                    width: 12px;
                    height: 12px;
                    border-radius: 99rem;
                    background: $secondary-color;
                }
                &::after{
                    position: absolute;
                    content: "";
                    top: 0px;
                    left: 5.5px;
                    width: 1px;
                    height: 100%;
                    background: $secondary-color;
                }
            }
            .text-wrap{
                width: 100%;
                text-align: left;
                padding-top: 10px;
                height: 76px;
                li{
                    display: inline-block;
                    width: 45%;
                    color: $secondary-color;
                    font-weight: 400;
                    letter-spacing: 1px;
                    padding:4px;
                    
                }
                @include Spc{
                    li{
                        width: 140px;
                    }
                }
            }
            @include Spc{
                width: 50%;
            }
            
            @include Spad{
                width: 100%;
            }
        }//detail
    }//single
    .learn-exp{
        display: flex;
        padding: 24px 100px;
        @include pad{
            padding: 10px 20px 20px 20px;
            flex-wrap: wrap;
            text-align: left;
        }
        .wrap{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content:left;
            @include pad{
                flex-wrap: wrap;
                margin-top: 10px;
            }
            .title{
                width: 50px;
                color: $secondary-color;
                font-size: 20px;
                line-height: 1.1;
                font-weight: 500;
                @include pad{
                    display: block;
                    width: 100%;
                    margin-bottom:10px;
                    br{display: none;}
                }
            }
            .status{
                display: inline-block;
                writing-mode: vertical-lr;
                color: $secondary-color;
                @include pad{
                    display: block;
                    width: 60px;
                    writing-mode: horizontal-tb;
                    color: $background-color;
                    letter-spacing: 1.5px;
                    padding: 4px 6px;
                    border-radius: 99rem;
                    background: $secondary-color;
                }
            }
            ul{
                display: inline-block;
                width: 80%;
                text-align: left;
                margin-left: 16px;
                @include pad{
                    text-align: left;
                    width: 100%;
                    margin-left:0px;
                    margin-top: 6px;
                }
            }
            li{
                display: inline-block;
                padding: 4px;
                color: $color-grey;
            }
        }
    }//learn-exp
}
//skills
.skill{
    background: $background-color;
    margin-top: 120px;
    @include pad{
        margin-top: 80px;
    }
    .wrap{
        max-width: 1200px;
        padding: 40px 0;
        margin: 0 auto;
        
        h2{
            font-size: 110px;
            text-align: left;
            color: $primary-color;
            margin-top: -100px;
            margin-bottom: 40px;
            @include pad{
                font-size: 80px;
                margin-bottom: 0;
                margin-top: -82px;
            }
        }
        .content{
            @include mobile{
                padding-top: 20px;
            }

            .row{
                display: flex;
                text-align: left;
                justify-content: left;
                align-items: flex-start;
                border-bottom: 2px solid $primary-color;
                padding-top:24px;
                padding-bottom: 16px;
                &:last-child{
                    border-bottom: none;
                }
                @include mobile{
                    flex-wrap: wrap;
                    border-bottom: none;
                    padding-top:0px;
                    padding-bottom: 0px;
                    
                }
                .single{
                    display: inline-flex;
                    width: 33.33%;
                    @include pad{
                        flex-wrap: wrap;
                        justify-content: center ;
                    }
                    @include mobile{
                        width: 100%;
                        flex-wrap: nowrap;
                        align-items: center;
                        margin-bottom: 20px;
                    }
                    &:hover{
                        animation: jump 0.5s;
                    }
                    .img{
                        display: inline-block;
                        width: 55%;
                        img{width: 100%;}
                        @include Spc{
                            width: 40%;
                        }
                        @include pad{
                            width: 70%;
                        }
                        @include mobile{
                            width: 30%;
                        }
                    }
                    .detail{
                        display: inline-block;
                        width: 80%;
                        padding:10px 0;
                        @include pad{
                            width: 100%;
                            text-align: center;
                            padding: 0 0 10px 0;
                        }
                        @include mobile{
                            width: 70%;
                            text-align: left;
                        }
                    }
                    .title{
                        color: $primary-color;
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 6px;
                    }
                    ul{
                        display: inline-block;
                    }
                    li{
                        display: block;
                        padding: 4px;
                        color: $color-grey;
                        font-size: 15px;
                        @include Spc{
                            font-size: 14px;
                        }
                        @include mobile{
                           display: inline-block;
                        }
                    }
                    
                }//single
            }//row
        }//content
    }//wrap
    @include Mpc{
        padding: 0 20px;
    }

}//skills
@keyframes jump{
    0%{ transform: translateY(0px);}
    35%{transform: translateY(-8px);}
    65%{transform: translateY(0px);}
    85%{transform: translateY(-3px);}
    100%{transform: translateY(0px);}
}

//portfolio
.portfolio{
    .single{
        display: flex;
        text-align: left;
        align-items: center;
        @include pad{
            flex-wrap: wrap;
            border-bottom: #fff solid 1px;
        }
        a.img{
            position: relative;
            display: inline-block;
            width: 50%;
            background: #000;
            overflow: hidden;
            @include pad{
                width: 100%;
            }
            .filter{
                img{width: 100%;}
                overflow: hidden;
                transition: 2s;
                @include Mpc{
                    img{width: auto; height: 300px;}
                }
                @include pad{
                    height: 250px;
                    img{width: 100%;}
                }
                @include mobile{
                    height: 180px;
                    img{height: 100%;}
                }
            }
            &:hover{
                .filter{
                    transform: scale(1.1);
                    transition: 2s;
                }
            }
        }//a
        
        .content{
            display: inline-block;
            width: 50%;
            max-width: 600px;
            padding: 0 0 0 40px;
            @include Mpc{padding-left: 50px;}
            @include pad{position: absolute;}
            @include mobile{padding-left:20px ; width: 100%;}
            h3{
                color: $primary-color;
                font-size: 34px;
                letter-spacing: 1px;
                @include pad{color:#fff;}
                @include mobile{
                    font-size: 28px;
                    font-weight: 500;
                }
            }
            .note{
                font-size: 18px;
                color: $primary-color;
                letter-spacing: 1px;
                margin: 8px 0;
                @include pad{color:#fff;}
                @include mobile{
                    font-size: 14px;
                }
            }
            .line{
                font-size: 18px;
                color: $primary-color;
                letter-spacing: 8px;
                font-weight: 200;
                margin: 12px 0;
                @include pad{display: none;}
            }
            .detail{
                font-size: 16px;
                line-height: 1.5;
                color: $color-grey;
                font-weight: 300;
                @include pad{display: none;}
            }
        }//content
    }//single
    .arrow{
        position: absolute;
        display: inline-block;
        width: 60px;
        height: 60px;
        bottom: 95px;
        right: 35px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 99rem;
        transition: 0.3s;
        @include mobile{
            width: 40px;
            height: 40px;
            bottom:70px;
        }
        &::before{
            content: "";
            position: absolute;
            width: 70px;
            height: 60px;
            top: 0px;
            right: -20px;
            background: center center/ contain no-repeat url('../images/arrow-left.png');
            transition: 0.3s;
            
            @include pad{
                background: center center/ contain no-repeat url('../images/arrow-right.png');
                left: -20px;
                right: auto;
            }
            @include mobile{
                width: 40px;
                height: 30px;
                left: -10px;
                top:4px;
            }
        }  
    }//arrow
    .other{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 40px 0;
        text-align: center;
        background: $background-color;
        h3{
            display: inline-block;
            font-size: 40px;
            font-weight: normal;
            color: $secondary-color;
            margin-right: 50px;
        }
        .arrow{
            position: relative;
            display: inline-block;
            bottom: auto;
            right: auto;
            transition: 0.3s;
            &::before{
                left:-20px;
                right: auto;
                background: center center/ contain no-repeat url('../images/arrow-right.png');
                transition: 0.3s;
                @include mobile{
                    left: -10px;
                }
            }
        }//arrow
    }//other
    .single.even{
        flex-direction: row-reverse;
        @include pad{
            flex-direction: row;
        }
        .arrow{
            right: auto;
            left: 35px;
            @include pad{
                left: auto;
                right: 35px;
            }
            
            &::before{
                left:-20px;
                right: auto;
                background: center center/ contain no-repeat url('../images/arrow-right.png');
                @include mobile{
                    left: -10px;
                }
            }
        }
        a:hover{
            .arrow::before{
                top: 0px;
                left: 10px;
            }
        }
    }//single even

    a:hover{
        .arrow::before{
            top: 0px;
            right: 10px;
        }
    }
    a.other:hover{
        .arrow::before{
            top: 0px;
            left: 10px;
        }
    }
}//portfolio
//future
.future{
    background: -10px 40px / contain no-repeat url('../images/future-left.png'),right 80% / contain no-repeat url('../images/future-right.png');
    padding: 80px 0;
    @include Mpc{
        background: -66px 40px / contain no-repeat url(../images/future-left.png), 60px 80% / contain no-repeat url(../images/future-right.png);
    }
    h2{
        font-size: 56px;
        color: $secondary-color;
        margin-bottom: 32px;
        @include pad{
            font-size: 48px;
            margin-bottom: 24px;
        }
    }
    p{
        font-size: 20px;
        color: $color-grey;
        line-height: 1.8;
        @include Mpc{
            font-size: 18px;
        }
        @include pad{
            font-size: 15px;
        }
    }
}//future


//頁尾
footer{
    background:$secondary-color;
    @include Mpc{
        padding: 0 20px;
    }
    .footer-wrap{
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px $nav-padding-horizontal;
        margin:0 auto;
        @include mobile{
            padding: 10px 0;
        }
    }

    h2.footer-h2{
        color: #fff;
        font-size: 48px;
        @include pad{font-size: 36px;}
        @include Spad{
            display: none;
        }
    }

    

    ul{
        display: flex;
        align-items: center;
        @include Spad{
            width: 100%;
            justify-content: space-between;
        }
        li{
            display: inline-block;
            text-align: center;
            margin: 0 8px;
            @include pad{margin:0px 4px 0 0;}
            a{
                display: inline-block;
                color: $background-color;
                font-size: 18px;
                padding: 10px;
                @include pad{font-size: 15px;}
            }
            a.out-link{
                border-radius: 99rem;
                padding: 6px 12px;
                border: $background-color solid 2px;
            }
            a.out-link:hover{
                color: $secondary-color;
                background: $background-color;
            }
        }
    }
}
